.srchContainer{
   margin-top:5rem;
   margin-left:15rem;
   display:flex;
   justify-content:space-between;
    margin-right:40rem;
   margin-bottom:5rem;
   
}
.citygroup{
    display:flex;
    gap:1rem;
}
 .btn{
    border-radius: 1.5625rem;
    background: #DEE0FA;
    padding:0.3rem;
  border:none;
    font-weight:500;
 color:black;
width: 8.9375rem;
height: 3rem;
text-align:center;
 }